body {
    background: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
#TextBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 87.5vw;
    font-size: 1.45vw;
    border: 5px solid transparent;
    text-wrap: wrap;
}
#Fonts {
    font-family: Arial;
}
.User {
    color: #FFCCFF;
}
.Message {
    color: #FF99FF;
    margin-left: 5px;
}
#backgroundBox {
    position: absolute;
    top: 45.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 37vw;
    background: #331133;
    background: image-set("PFG-Images/SwirlyBackground.png");
    background-size: 100vw;
    background-repeat: repeat-y;
    border-radius: 10px;
    border: 5px solid #220022;
    overflow-y: scroll;
    overflow-x: hidden;
}
#BB2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}
#InputBox {
    position: absolute;
    top: 39.8vw;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100.6%;
    height: 4.2vw;
    background: #220022;
    border-radius: 5px;
    overflow: hidden;
}
#InputUser {
    position: absolute;
    top: -1.4vw;
    left: 0.65vw;
    height: 2.1vw;
    width: 20.5vw;
    font-size: 2vw;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    color: #FFCCFF;
    background: #330033;
    padding: 5px;
    border-radius: 5px;
}
#TextInput {
    position: relative;
    top: -0.55vw;
    left: 22.6vw;
    outline: none;
    font-size: 1.14vw;
    text-wrap: wrap;
    width: 60.2vw;
    height: 2.1vw;
    color: #FFCCFF;
    font-family: Times;
    background: #770077;
    padding: 5px;
    overflow-y: scroll;
    border-radius: 5px;
    overflow-y: hidden;
}
#SendButton {
    position: relative;
    top: -4.26vw;
    left: 84.3vw;
    height: 1vw;
    font-size: 2vw;
    font-family: Arial;
    font-weight: bold;
    color: #FFCCFF;
    background: none;
    padding: 0.36vw;
    border-radius: 5px;
    user-select: none;
}
#MiddleContent {
    position: absolute;
    top: 16vw;
    left: 50%;
    transform: translate(-50%, -50%);
}
#PFGLogo {
    width: 25vw;
    height: 25vw;
}
#MiddleText {
    position: absolute;
    top: 23.5vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Arial";
    font-size: 1.9vw;
    text-wrap: nowrap;
    font-weight: bold;
    color: #FF99FF;
}
::-webkit-scrollbar {
    background: #551155;
    border-radius: 10px;
}
::-webkit-scrollbar-button {
    background: #331133;
    border-radius: 10px;
    border: 1px solid #990099;

}
::-webkit-scrollbar-button:hover {
    background: #221122;
    border-radius: 10px;
    border: 2px solid #990099;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background: #441144;
    border-radius: 10px;
    border: 1px solid #990099;
}
::-webkit-scrollbar-thumb:hover {
    background: #331133;
    border-radius: 10px;
    border: 2px solid #990099;
    cursor: pointer;
}
::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    border: 1px solid #990099;
}
::-webkit-scrollbar-corner {
    background: none;
}
@media only screen and (max-width: 600px) {
    #backgroundBox {
        height: 145vw;
    }
    #InputBox {
        top: 158vw;
        height: 6vw;
        width: 92.5vw;
    }
    #InputUser {
        height: 2.4vw;
        align-content: center;
    }
    #MiddleContent {
        top: 50vw;
    }
    #PFGLogo {
        width: 70vw;
        height: 70vw;
    }
    #MiddleText {
        top: 91vw;
        font-size: 9vw;
        text-wrap: wrap;
        text-align: center;
        width: 90vw;
    }
    #TextInput {
        left: 24.2vw;
        height: 2.3vw;
        width: 53.5vw;
    }
    #SendButton {
        top: -6.4vw;
        left: 81vw;
        padding: 2vw;
        font-size: 3vw;
    }
    #TextBox {
        width: 85vw;
    }
}
@media only screen and (max-height: 500px) {
    #backgroundBox {
        top: 12vw;
        height: 25vw;
        width: 97.5vw;
    }
    #InputBox {
        top: 28vw;
        width: 98.4vw;
    }
    #InputUser {
        height: 1.75vw;
        line-height: 1.9vw;
    }
    #MiddleContent {
        top: 50vw;
    }
    #PFGLogo {
        width: 15vw;
        height: 15vw;
    }
    #MiddleText {
        top: 15.5vw;
        font-size: 1.5vw;
    }
    #MiddleContent {
        top: 10vw;
    }
    #TextInput {
        height: 1.7vw;
        width: 69vw;
    }
    #SendButton {
        top: -4.3vw;
        left: 93vw;
    }
    #TextBox {
        width: 95vw;
    }
}